.global-footer
{
  margin-top: 50px;
  width: 100%;
  bottom: 0;
  padding: 20px;
  text-align: center;
  border-top: 1px solid #ddd;
  max-height: 65px;
  z-index: 99999;
  background: white;
}

.page-enter-active, .page-leave-active
{
  transition: opacity .5s
}
.page-enter, .page-leave-active
{
  opacity: 0
}

td.action {
  text-align: center;
  a {
    margin: 0 5px 0 5px;
  }
}
.level .field input {
  width: 300px;
}
.field.has-addons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}
.control {
  font-size: 1rem;
  position: relative;
  text-align: left;
}
.field.has-addons .control:first-child .button, .field.has-addons .control:first-child .input, .field.has-addons .control:first-child .select select {
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
}
.field.has-addons .control:last-child .button, .field.has-addons .control:last-child .input, .field.has-addons .control:last-child .select select {
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
}
.field.has-addons .control .button, .field.has-addons .control .input, .field.has-addons .control .select select {
  border-radius: 0;
}
.control.has-icon .icon {
  top: 1.1rem;
}
ul.options-list {
    display: flex;
    flex-direction: column;
    border: 1px solid #dbdbdb;
    border-radius: 0 0 3px 3px;
    position: absolute;
    width: 78%;
    overflow: hidden;
    z-index:999;
    li {
      width: 100%;
      flex-wrap: wrap;
      background: white;
      margin: 0;
      border-bottom: 1px solid #eee;
      color: #363636;
      padding: 7px;
      cursor: pointer;
      .highlighted {
        background: #f8f8f8
      }
    }
  }
