.global-footer
{
  position: absolute;
  width: 100%;
  bottom: 0;
  padding: 20px;
  text-align: center;
  border-top: 1px solid #ddd;
}

.page-enter-active, .page-leave-active
{
  transition: opacity .5s
}
.page-enter, .page-leave-active
{
  opacity: 0
}
